

{{> head }}
{{> navbar }}



<div class="row">

<div class="col-8">
    <h1>El rojo fuego de las llamas es lo que nos mantiene vivos</h1>
</div>
    

<div class="col-4">
    <img src="/assets/img/Endeavor.jpg" class="img-thumbnail " alt="" style="margin-top: 50px;">
</div>
    
</div>


{{> footer}}
